.card-container{
  position:"absolute";
  left: 50%;
  padding: '0 50px';
  max-width: 91.83%;
  /* min-width: 800px; */
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 100%;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  width: 100%;
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: white;
  width: 155.6%;
  align-content: space-between;
  text-align: center;
  
  
  color:#303014;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
.code-box-demo {
  background: #F5F5F5;
  overflow: hidden;
  padding: 24px;
}

