.login-form {
  position: fixed;
  max-width: 300px;
  top: 30%;
  left: 50%;
  margin-top: 0px;
  margin-left: -150px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-form-kakao {
  width: 100%;
  background-color: #ffe812;
  color: #663300
}